body{
    background-color: #FF7B9C;
    
}
.top-bar{
    font-family: 'Josefin Sans', sans-serif;
}

.card{
    background-color: #FFC759;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width:650px;
    height: 450;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 5%;
    color: white;

}

.choice-button{
   
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    margin-top: 50px;
    width: 120px;
    height: 60px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    border-radius: 40%;
    background-color: #FF7B9C;
    border-color: #f3436f;
    color: white;

    
}

#display-question{
    text-align: center;

}
#score-display{
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

#place-info{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

#is-right{
    text-align: center;
}

#next-button{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 60px;
    border-radius: 40%;
    border-color: #f3436f;
    background-color: #FF7B9C;
    color: white;
}

.choice-button.selected {
    background-color: #f3436f; 
    color: #ffffff; 
}
